SECRET_KEY=''

DEBUG=False

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

ADMIN_EMAIL=